<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h2><a href="http://localhost:8080/">Home</a></h2>
        <h2><a href="http://localhost:8080/listtasks">List Tasks</a></h2>

        <form action="/add" method ="POST">
            <label>Task Name</label>
            <input type="text" name="taskname"/></br>
            <label>Task Due</label>
            <input type="text" name="taskdue"/></br>
            <label>Task Desc</label>
            <input type="text" name="taskdesc"/></br>
            <button>Submit</button>
        </form>
    </body>
</html>